<%- include('./partials/head')%>
<%- include('./partials/header')%>

<body>
    	<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de Usuario</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/create" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="image" class="form-label">Imagen de perfil</label>
						<input type="file" accept="image/*" id="image" name="image" class="form-input">
						<% if (locals.errors && errors.image) { %>
							<div class="text-danger">
								<%= errors.image.msg %> 
							</div>
						<% } %>   

					</div>
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre completo:</label>
						<input type="text" id="name" name="full_name" placeholder="Your full name" class="form-input <%=locals.errors && errors.full_name ? 'is-invalid' : null  %>" value="<%= locals.old ? old.full_name  : null %>"> <!--la ionformacion de old y errors estan en el contoller-->
						
						<% if (locals.errors && errors.full_name) { %>
							<div class="text-danger">
								<%= errors.name.msg %> 
							</div>
						<% } %>
						
					</div>
					<div class="col-12 col-md-6">
						<label for="username" class="form-label">Nombre de usuario:</label>
						<input type="text" id="username" name="username" placeholder="Username" class="form-input <%=locals.errors && errors.username ? 'is-invalid' : null  %> " value="<%= locals.old ? old.username  : null %>">
						<% if (locals.errors && errors.username) { %>
							<div class="text-danger">
								<%= errors.username.msg %> 
							</div>
						<% } %>
					</div>
					<div class="col-12 col-md-6">
						<label for="mail" class="form-label">em@il:</label>
						<input type="mail" id="mail" name="email" placeholder=your@email.com class="form-input <%=locals.errors && errors.email ? 'is-invalid' : null  %> " value="<%= locals.old ? old.email  : null %>">
						<% if (locals.errors && errors.email) { %>
							<div class="text-danger">
								<%= errors.email.msg %> 
							</div>
						<% } %>
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Password:</label>
						<input type="password" id="password" name="password" placeholder="password" class="form-input <%=locals.errors && errors.password ? 'is-invalid' : null  %> ">
						<% if (locals.errors && errors.password) { %>
							<div class="text-danger">
								<%= errors.password.msg %> 
							</div>
						<% } %>
					</div>
					<div class="col-12 col-md-6">
						<label for="sex" class="form-label">usertype</label>
						<select name="sex" id="sex" class="form-input <%=locals.errors && errors.sex ? 'is-invalid' : null  %> " >
							<option value="">choose one</option>
							<% 
								let sex_options = ['male', 'woman', 'other', 'bot', 'argentino']
							%> 
							<% for (const onesex of sex_options) { %>
								<option value="<%= onesex %>"<%= locals.old && (onesex === old.sex) ? 'selected' : null %>  ><%=onesex  %> </option>
							<% } %>
						</select>
						<% if (locals.errors && errors.sex) { %>
							<div class="text-danger">
								<%= errors.sex.msg %> 
							</div>
						<% } %>
					</div>
					
					<div class="col-12">
						<label for="description" class="form-label">algo sobre ti? about you?</label>
						<textarea name="about" id="description" class="form-input"></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar usuario!</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</form>
<%- include('./partials/footer')%>
</body>

