<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: '?'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>Hi <%= customer.full_name %> </h2>
				<img src="/images/user/<%= customer.image %> ">
				<br>
				<br>
				<h2>hi <%= customer.email %> </h2>

				<div class="alert alert-success"><%= customer.email %> </div>
				<h2>hi <%= customer.username %> </h2>
				<h2>hi <%= customer.fav_prod %> </h2>
				<h2>hi <%= customer.text %> </h2>
				<h2>hi <%= customer.image %> </h2>
				<h2>hi <%= customer.sex %> </h2>
				<h2>hi <%= customer.password %> </h2>






			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('partials/footer'); %>
</body>
</html>